<p id="notice"><%= notice %></p>

<p>
  <strong>User id:</strong>
  <%= @classroom.user_ID %>
</p>

<p>
  <strong>Course id:</strong>
  <%= @classroom.course_ID %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
