<h1>Listing professors</h1>

<table>
  <thead>
    <tr>
      <th>Professorid</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Field</th>
      <th>Website</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.professorID %></td>
        <td><%= professor.firstName %></td>
        <td><%= professor.lastName %></td>
        <td><%= professor.email %></td>
        <td><%= professor.Field %></td>
        <td><%= professor.website %></td>
        <td><%= link_to 'Show', professor %></td>
        <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professor', new_professor_path %>
