<p id="notice"><%= notice %></p>

<p>
  <strong>Course id:</strong>
  <%= @ctec.course_ID %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ctec.description %>
</p>

<p>
  <strong>Instr rating:</strong>
  <%= @ctec.instr_rating %>
</p>

<p>
  <strong>Course rating:</strong>
  <%= @ctec.course_rating %>
</p>

<p>
  <strong>Learned rating:</strong>
  <%= @ctec.learned_rating %>
</p>

<p>
  <strong>Challenging rating:</strong>
  <%= @ctec.challenging_rating %>
</p>

<p>
  <strong>Interest rating:</strong>
  <%= @ctec.interest_rating %>
</p>

<p>
  <strong>School:</strong>
  <%= @ctec.school %>
</p>

<p>
  <strong>Class:</strong>
  <%= @ctec.class %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @ctec.reason %>
</p>

<p>
  <strong>Interest before:</strong>
  <%= @ctec.interest_before %>
</p>

<%= link_to 'Edit', edit_ctec_path(@ctec) %> |
<%= link_to 'Back', ctecs_path %>
